*{
    margin: 0;
    padding: 0;
}

.grey_color{
    color: #a3a3a3;
}

/*section_1*/
.header{
    padding-top: 130px;
    width: 100%;
    text-align: center;
    background: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Saira", sans-serif;
}

.heading{
    margin: 50px 0 30px 0;
    font-size: 3rem;
    font-weight: 500;
}


.description{
    width: 700px;
    margin: 0 auto;
    font-size: 1.25rem;
    color: #a3a3a3;
}

.contain_btn{
    margin: 50px 0;
}

.btn{
    margin: 0 10px;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 30px;
    color: #ffffff;
}

.btn_ios{
    background-color: #25BBA7;
    border-bottom: 2.5px solid #289A85;
    box-shadow: 1px 10px 20px #BDFDEF;
}

.btn_mac{
    background-color: #6174FF;
    border-bottom: 2.5px solid #5063DD;
    box-shadow: 1px 10px 20px #E2E7FF;
}

/*section_2*/

.section2{
    padding-top: 100px;
    font-family: "Saira", sans-serif;
}

.content{
    text-align: center;
}

.sub_heading{
    font-size: 2.5rem;
    font-weight: 500;
}

.p_30{
    padding: 30px 0;
    width: 800px;
}

.d_flex{
    display: flex;
    gap: 115px;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.contain_computer{
    width: 100%;
}

.img_computer{
    margin-left: -30px;
    width: 100%;
}

.detail{
    text-align: left;
    margin-right: 20%;  
    /* margin-top: 50px; */
    
}

.box{
    margin: 60px 0;
}

.subject{
    font-size: 1.5rem;
    font-weight: 500;
}

.detail_text{
    font-size: 1.2rem;
}

/*section_3*/

.section3{
    padding-top: 200px;
    font-family: "Saira", sans-serif;
}

.device{
    width: 100%;
}

.image_devices{
    width: 100%;
    max-width: 810px;
}

/*section_4*/
.section4{
    padding-top: 150px;
    font-family: "Saira", sans-serif;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.item{
   width: 350px;
   margin: 50px 20px 0 20px;
}

.pt_50{
    padding-top: 50px;
}

.pt_30{
    padding-top: 20px;
}

.contain_company{
    padding: 150px 0;
}

.company{
    width: 100%;
}

.company_logo{
    width: 100%;
    max-width: 150px;
}

/*section_5*/
.section5{
    font-family: "Saira", sans-serif;
    padding-bottom: 150px;
}

/*footer*/
footer{
    width: 100%;
    height: 150px;
    background-color: #F5F6F8;
}

.footer_logo{
    width: 100%;
    max-width: 50px;
    padding-top: 10px;
}

.contain_ft{
    width: 80%;
    margin: 0 auto;
}

.flex_ft{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    display: block;
    margin: 10px 20px;
    text-decoration: none;
    color: #000000;
    font-family: "Saira", sans-serif;
}

.pt-30{
    padding-top: 40px;
}

.social{
    margin: 0 10px;
}

.social_link{
    text-decoration: none;
}

/*effect*/
.btn_ios:hover{
    background-color: #5DCCBB;
}
.btn_mac:hover{
    background-color: #8997FC;
}

@media only screen and (max-width:800px){
    section{
        width: 90%;
        margin: 0 auto;
    }

    .d_flex{
        flex-direction: column;
    }
    
    .detail{
        text-align: center;
        width: 100%;
        margin-right: 0;  
    }

    .img_computer{
        margin: 0;
    }
    
    .description{
        width: 100%;
    }

    .d-flex{
        flex-direction: column;
    }

    .company{
        margin: 50px 0;
    }

    .item {
        width: 100%;
    }

    footer{
        height: 100%;
        padding-bottom: 50px;
    }

    .contain_ft{
        width: 100%;
    }

    .flex{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .flex_ft{
        width: 100%;
        flex-direction: column;
    }

    .link{
        display: block;
    }

    .social_media{
        margin-top: 50px;
    }

    .btn{
        display: block;
        margin: 20px 0;
    }
}